<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>jdbc:mysql://localhost:3306/school</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>1234</param-value>
  </context-param>
  <filter>
    <display-name>ViewStudentFIlter</display-name>
    <filter-name>ViewStudentFIlter</filter-name>
    <filter-class>com.bit.servlet.ViewStudentFIlter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ViewStudentFIlter</filter-name>
    <url-pattern>/ViewStudentFIlter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentMarks</display-name>
    <servlet-name>UpdateStudentMarks</servlet-name>
    <servlet-class>com.bit.servlet.UpdateStudentMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentMarks</servlet-name>
    <url-pattern>/UpdateStudentMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.bit.servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AddStudentFilter</display-name>
    <filter-name>AddStudentFilter</filter-name>
    <filter-class>com.bit.servlet.AddStudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddStudentFilter</filter-name>
    <url-pattern>/AddStudentFilter</url-pattern>
  </filter-mapping>
</web-app>